site_name: IsoSLAM
site_url: https://sudlab.github.io/IsoSLAM/
repo_url: https://github.com/sudlab/IsoSLAM/
theme:
  name: material
nav:
  - Home: index.md
  - Introduction: introduction.md
  - Installation: installation.md
  - Usage: usage.md
  - Workflow: workflow.md
  - Contributing:
      - Development: contributing/index.md
      - Adding Modules: contributing/adding_modules.md
  - Extending: extending.md
  - API:
      - IO: api/io.md
      - Isoslam: api/isoslam.md
      - Logging: api/logging.md
      - Plotting: api/plotting.md
      - Processing: api/processing.md
      - Summary: api/summary.md
      - Utils: api/utils.md

extra:
  version:
    provider: mike

plugins:
  - autorefs
  - mermaid2
  - search
  - mkdocstrings

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid
